{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Project</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcome, Usama 🚀</h1>
    <p>This is the home page of your Django project.</p>
</body>
</html>
<table>
    <tr>
        <th>Name</th>
        <th>Hobbies</th>
    </tr>
    <tr>
        <td>Usama</td>
        <td>Coding, Gaming, Traveling</td>
        </tr>
</table>
</html>
<h1>PRACTISE FOR BACKEND</h1>
<ol>
    <li>This Is List Item</li>
    <li>This Is List Item</li>
    <li>This Is List Item</li>
    <li>
        <ol>
            <li>This Is Nested List</li>
            <li>This Is Nested List</li>
            <li>This Is Nested List</li>
        </ol>
    </li>
<h3>
    <a href="https://www.youtube.com/watch?v=XqebBWzHjtI&list=RDXqebBWzHjtI&start_radio=1" target="_blank" title="Youtube">Youtube</a>      
</h3>

<h1>404 Error Not found</h1>

<body>
    <p>{{ info|safe }}</p>
</body>
<h3><a href="https://www.google.com/" target="_blank" title="Google">GOOGLE</a>
</h3>